{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Data</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        .tab {
            display: none;
        }

        .tab-button {
            padding: 10px;
            margin: 5px;
            cursor: pointer;
            background-color: #f1f1f1;
            border: none;
            border-bottom: 2px solid transparent;
        }

        .tab-button.active {
            background-color: #ddd;
            border-bottom: 2px solid #007BFF;
        }

        .tab-content {
            padding: 20px;
        }
    </style>
</head>

<body>
    <img src="{% static 'banco.png' %}">
    <div>
        <button class="tab-button active" onclick="showTab('decades')">Técnicos por Decada de Nascimento e Área</button>
        <button class="tab-button" onclick="showTab('technicians_asb')">Técnicos por Área</button>
        <button class="tab-button" onclick="showTab('age_aas')">Idade Média por Área</button>
        <button class="tab-button" onclick="showTab('before_2010_aii')">Técnicos Contratados Antes de 2010</button>
        <button class="tab-button" onclick="showTab('gender_uatp')">Técnicos por Género e Área</button>
        <button class="tab-button" onclick="showTab('interns_das')">Estagiários por Área</button>
    </div>

    <div id="decades" class="tab tab-content" style="display: block;"></div>
    <div id="technicians_asb" class="tab tab-content"></div>
    <div id="age_aas" class="tab tab-content"></div>
    <div id="before_2010_aii" class="tab tab-content"></div>
    <div id="gender_uatp" class="tab tab-content"></div>
    <div id="interns_das" class="tab tab-content"></div>
    <div id="direction_membership" class="tab tab-content"></div>

    <script>
        // Function to show the selected tab and hide others
        function showTab(tabName) {
            // Hide all tabs
            
            const tabs = document.querySelectorAll('.tab');
            tabs.forEach(tab => tab.style.display = 'none');
            
            // Remove 'active' class from all buttons
            const buttons = document.querySelectorAll('.tab-button');
            buttons.forEach(button => button.classList.remove('active'));
            
            // Show the selected tab
            const selectedTab = document.getElementById(tabName);
            selectedTab.style.display = 'block';
            
            // Add 'active' class to the clicked tab button
            document.querySelector(`.tab-button[onclick="showTab('${tabName}')"]`).classList.add('active');
            
            // Resize Plotly charts in the newly displayed tab
            Plotly.Plots.resize(selectedTab);
        }

        function randomColor() {
            const r = Math.floor(Math.random() * 256);
            const g = Math.floor(Math.random() * 256);
            const b = Math.floor(Math.random() * 256);
            return `rgb(${r}, ${g}, ${b})`;
          }

        // Fetch and render the graphs
        function fetchAndRenderGraphs() {
            fetch("{% url 'chart_data_questions' %}")
                .then(response => response.json())
                .then(data => {
                    // Graph for Decades (highlight AFI born in 1970s)
                    const allDecadesData = Object.keys(data.decades).map(area => ({
                        x: Object.keys(data.decades[area]).sort(), // Decades
                        y: Object.values(data.decades[area]), // Number of technicians
                        name: area,
                        type: 'bar',
                        marker: {
                            color: area === 'AFI' ? '#ff7f0e' : '#c7c7c7', // Highlight AFI
                        }
                    }));
                    Plotly.newPlot('decades', allDecadesData, {
                        title: 'Quantos técnicos da AFI nasceram na década de 1970?',
                        barmode: 'group'
                    });

                    // Graph for Total Technicians in ASB (highlight ASB)
                    const asbTechniciansData = [{
                        x: Object.keys(data.total_technicians).sort(),
                        y: Object.values(data.total_technicians),
                        type: 'bar',
                        marker: {
                            color: Object.keys(data.total_technicians).map(area => area === 'ASB' ? '#2ca02c' : '#c7c7c7') // Highlight ASB
                        }
                    }];
                    Plotly.newPlot('technicians_asb', asbTechniciansData, {
                        title: 'Quantos técnicos existem no total na ASB?',
                        barmode: 'group'
                    });

                    // Graph for Average Age in AAS (show all areas, highlight AAS)
                    const averageAgeData = [{
                        x: Object.keys(data.average_age).sort(),
                        y: Object.values(data.average_age),
                        type: 'bar',
                        marker: {
                            color: Object.keys(data.average_age).map(area => area === 'AAS' ? '#9467bd' : '#c7c7c7') // Highlight AAS
                        }
                    }];
                    Plotly.newPlot('age_aas', averageAgeData, {
                        title: 'Qual é a idade média dos colaboradores da AAS?',
                        barmode: 'group'
                    });

                    // Graph for AII Technicians before 2010 (show all areas, highlight AII)
                    const aiiBefore2010Data = [{
                        x: Object.keys(data.before_2010).sort(),
                        y: Object.values(data.before_2010),
                        type: 'bar',
                        marker: {
                            color: Object.keys(data.before_2010).map(area => area === 'AII' ? '#d62728' : '#c7c7c7') // Highlight AII
                        }
                    }];
                    Plotly.newPlot('before_2010_aii', aiiBefore2010Data, {
                        title: 'Quantos técnicos da AII entraram no banco antes de 2010?',
                        barmode: 'group'
                    });

                    // Graph for Gender Distribution in UATP (show all areas, highlight UATP)
                    const genderData = Object.keys(data.gender_distribution).map(area =>
                    ({
                        x: Object.keys(data.gender_distribution[area]).sort(),
                        y: Object.values(data.gender_distribution[area]),
                        name: area,
                        type: 'bar',
                        marker: {
                            color: area === 'UATP' ? '#2ca02c' : '#c7c7c7' // Highlight UATP
                        }
                    }));
                    Plotly.newPlot('gender_uatp', genderData, {
                        title: 'Quantos homens e mulheres existem na UATP?',
                        barmode: 'group',
                        yaxis: {
                            tickvals: Array.from({length: Math.max(...Object.values(data.gender_distribution)) + 1}, (_, i) => i)
                        }
                    });

                    // Graph for Interns
                    const dasInternsData = [{
                        x: Object.keys(data.interns).sort(),
                        y: Object.values(data.interns),
                        type: 'bar',
                        marker: {
                            color: Object.keys(data.interns).map(() => randomColor())
                        }
                    }];
                    Plotly.newPlot('interns_das', dasInternsData, {
                        title: 'Quantos estagiários estão na UPC?',
                        barmode: 'group',
                        yaxis: {
                            tickvals: Array.from({length: Math.max(...Object.values(data.interns)) + 1}, (_, i) => i)
                        }
                    });

                });
        }

        // Call the function on load and refresh every 30 seconds
        fetchAndRenderGraphs();
        setInterval(fetchAndRenderGraphs, 30000);
    </script>

</body>

</html>
